*{
font-family: 'Montserrat', sans-serif;
box-sizing: border-box;
}
body {
  background: repeating-linear-gradient(37deg, #2171e2, #005c97 173px);
  color: rgb(255, 255, 255);
  margin-bottom:29em;
}
h1{
  text-align: center;
  font-size: 5rem;
  margin-top: 4em;
  }
 .rating {
    font-size: 8em;
    display: flex;
    justify-content: center;
    flex-grow: row wrap;
    cursor: pointer;
    direction: rtl;
    text-align: center;
    margin-top: 5rem;
}
  input[type="radio"] {
      display: none;
      
  }
  label {
    color: rgb(255, 255, 255);
  }
  /*.direction {
    direction: rtl;
    unicode-bidi: bidi-override;
    text-align: center;
  }*/
 
  label:hover,
  label:hover ~ label {
    color: rgb(255, 165, 0);
  }
  /*al hacer click en el boton las etiquetas label se ponen de color*/
  input[type="radio"]:checked ~ label {
    color:#ffa500;
  }
  button#boton{
    width: 10%;
    height: 10%;
    font-size: 4rem;
    padding: 1%;
    display: flex;
    justify-content: center;
    background-color : #ff8800;
    color: #fff;
    border-radius: 1 ;
  }
  
 

  
